[run]
    omit =
        buildstockbatch/aws/*
        buildstockbatch/gcp/*
        buildstockbatch/sampler/sobol_lib.py
        buildstockbatch/sampler/commercial_sobol.py

[html]
    directory = coverage/htmlreport

[xml]
    output = coverage/coverage.xml
