__pycache__
*.egg-info
.idea
.vscode
docs/_build
dask-worker-space
venv/*
.venv
*.DS_Store
*.zip
.pytest_cache
*.pyc
.python-version
buildstockbatch_crash_details.log
coverage/
.coverage
build/
.env
.history
